<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign Up | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="static/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="static/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="static/toastify.min.css">
</head>

<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);">Twitter<b>Posts</b></a>

        </div>
        <input type="hidden" id="base_url" value="<%= base_url %>">
        <div class="card">
            <div class="body">
                <form id="sign_up" action="/signup" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="msg">Register a new membership</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="fullname" placeholder="Name Surname"
                                required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" minlength="8"
                                placeholder="Password" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="confirm" minlength="6"
                                placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">book</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="about" placeholder="About" >
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">room</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="location" placeholder="location" >
                        </div>
                    </div>


                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>


                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="static/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="static/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="static/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="static/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="static/js/admin.js"></script>
    <script src="static/toastify.js"></script>
    <!-- <script src="static/js/pages/examples/sign-up.js"></script> -->
    <script>
        let base_url=document.getElementById("base_url").value
        $('#sign_up').validate({
            rules: {
                fullname:{
                    required:true
                },
                email:{
                    required:true,
                    email:true,
                    remote: {
                        url: base_url,
                        type: "post"
                    }
                },
                password:{
                    required:true,
                    minlength:8,
                },
                confirm: {
                    equalTo: '[name="password"]'
                },
                about:{
                    required:false
                },
                location:{
                    required:false
                }
            },
            highlight: function (input) {
                $(input).parents('.form-line').addClass('error');
            },
            unhighlight: function (input) {
                $(input).parents('.form-line').removeClass('error');
            },
            errorPlacement: function (error, element) {
                $(element).parents('.input-group').append(error);
                $(element).parents('.form-group').append(error);
            },
            messages:{
                fullname:{
                    required:"Please enter fullname"
                },
                email:{
                    required:"Please enter email",
                    email:"Please enter a valid email",
                    remote:"Email already exist"
                },
                password:{
                    required:"Please enter password",
                    minlength:jQuery.validator.format("At least {0} characters required!")
                },
                confirm:{
                    equalTo:"Password must be same as confirm password"
                }

            }
        });
    </script>

    <%- include('layout/toaster_msg.ejs') %>
</body>

</html>